body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f0; /* Background color */
  height: 100vh;
}

.container {
  text-align: center;
  padding: 40px;
  background-color: #4de977; /* Background color for container */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* TODO: Add styles for labels, inputs, buttons, and output text */
h1 {
  font-size: 2.5em;
  margin-bottom: 20 px;
  color: #333333; /* Header color */
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Add more styles here as needed */
button {
  margin-top: 20 px;
  padding: 10px 20px;
  background-color: #6a67ce;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  button:hover {
    background-color: #5555aa;
  }

  label,
  input,
  p {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    text-align: center;
  }

  input[type="number"] {
    padding: 8px;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #acc;
    display: block;
  }
}

.copy-button:hover {
  background-color: #5555aa;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

h1 {
  font-size: 1.8em;
}

button {
  font-size: 1em;
}

p {
  font-size: 1.5em;
  font-weight: bold;
  color: #333333;
}
